{% extends "@PlatformBundle/Resources/views/Default/layout.html.twig" %}
{% block title %}{{ ''|trans }} {% endblock %}
{% block head %}
    {{ parent() }}
    <meta name="description" content="{% trans %} hjklmlkjhgfdx{% endtrans %}" />
{% endblock %}

{% block content %}
    {% block header %}

        <div id="banner">
            <!--aspect ratio 16:9 -->
            <div class="embed-responsive embed-responsive-16by9 ">

                <!--poster en background au responsive-->


                <!--video-->

            </div>
            <!--baseline-->
            <div class="row">
                <div class="col-xs-9 col-sm-12 col-md-12 col-lg-11">

                </div>
            </div>

        </div>
        <!--call-to-action moocs-->
        <div class="cta text-center">

        </div>


    {% endblock header %}

    {% block main %}
        <section class="container-moocs-scroll">
            <div class="container">
                <div class="row ">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <!--Card-->
                        <div class="card card-hover mb-4">
                            <a href="#">
                                <!--logo card-->

                                <!--Card content-->
                                <div class="card-block text-center ">

                                </div>
                            </a>
                        </div>
                        <!--/Card-->
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12  ">
                        <div class="card card-hover mb-4">
                            <a href="#">
                                <!--logo card-->

                                <!--Card content-->
                                <div class="card-block text-center ">

                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12  ">
                        <!--Card-->
                        <div class="card card-hover mb-4  ">
                            <a href="#">
                                <!--logo card-->

                                <!--Card content-->
                                <div class="card-block text-center justify-content-between  ">

                                </div>
                            </a>
                        </div>
                    </div>
                    <!--Card-->

                </div>
            </div>
        </section>
    {% endblock main %}

{% endblock %}






